.blue{
    /* height: 50px; */
    background-color:rgb(49, 109, 195);
    
}
.blue1{
    height: 230px;
    background-color:rgb(39, 85, 233);
    
}
.m
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.hei
{
    height: 75px;
}
.ang{
    height: 75px;
}
.gallery{

    padding: 0px;
    margin: 0px;
}
.example1 {
    height: 30px;  
    overflow : hidden;
    position: relative;
}

.example1 p {

 font-size: 15px;
 color: blue;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 30px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
          display: block;
      }
      .dropdown-menu{
          margin-top: 0;
      }
      .dropdown-toggle{
          margin-bottom: 2px;
      }
      .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
          margin-bottom: 0;
      }
  }

  
  .a:hover {
    background-color:rgb(49, 109, 195);
    border-radius: 35px;
    border: 1px solid rgb(49, 109, 195);
  }
  .flex-container{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
 